
<!-- szablon widoków po zalogowaniu z paskiem nawigacyjnym na górze, domyślnie niżej nazwą użytkownika, powiadomieniami i "główną" zawartością -->

<html>
<head>

<!-- bootstrap4 w wersji alpha był jakiś słaby, np. ciemny pasek nie działał, więc dalem w wersji beta -->

<!-- bootstrap tylko w "zewnętrznym" dokumencie, żeby nie robić parę razy -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

</head>
<body>



{% include 'topbar.html' %}

{% block on_top %}
<center><h2>{{ username }}</h2></center> <!-- zawsze wypisujemy nazwę użytkownika, ew. można gdzieś nadpisać blok żeby puste -->
{% endblock %}

{% include 'notifications.html' %}

<hr/>
<hr/>

{% block main_content %}

{% endblock %}


</body>
</html>
