{% extends 'logged_shared.html' %}

{% block main_content %}
<div  class="container">
    <h2> Wydarzenia, na które jesteś zaproszony </h2>
    <ul>
    {% for id, name, creator, begin, end, nr_inv, nr_yes, reactionType in my_invited_events %}
        
        <li>
        <h3> Spotkanie: {{ name }} </h3>
        <h4> Twoja reakcja: 
        {% if reactionType == 1 %} chcę wziąć udział {% endif %}
        {% if reactionType == 2 %} jestem zainteresowany {% endif %}
        {% if reactionType == 3 %} (jeszcze nie zareagowałeś na zaproszenie) {% endif %} 
        {% if reactionType == 4 %} nie wiem, czy wezmę udział {% endif %}
        {% if reactionType == 5 %} nie wezmę udziału {% endif %}
        {% if reactionType == 6 %} usunąłem konto {% endif %}  <!-- to nie ma szans się wyświetlić -->
        </h4>
        wydarzenie utworzone przez: {{ creator }} <br>
        początek spotkania:  {{ begin }} <br>
        koniec spotkania:  {{ end }} <br>
        
        liczba zaproszonych użytkowników:  {{ nr_inv }} <br>
        udział potwierdziło:  {{ nr_yes }} <br>
        
        <form action = "{{ "/show_event" }}" method="get" />  <!-- z querystring kodowanie i odkodowywanie to jakiś koszmar, to powinno być robione automatycznie... -->
            <!-- jakby były problemy ze spacjami, to csrf_token i post -->
            <input type="submit" value = "Wyświetl wydarzenie {{s}}" />
            <input id="ev_id" name="ev_id" type="hidden" value = "{{id}}" />
        </form>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
