
<h4>Nowe zaproszenia na spotkania: </h4>
<div>
    {% for s, begin, end, creator in new_inv %}
        <!--{% 
        try:
            s = inv.meeting.name
            begin = inv.meeting.begin
            end = inv.meeting.end
            creator = inv.meeting.creator.name
        %}-->
        
        <p> Spotkanie: {{ s }}, od: {{ begin }} do: {{ end }}, utworzone przez {{ creator }} </p>
        <form action = "{{ "/show_event" }}" method="get" />
            <!-- jakby były problemy ze spacjami, to csrf_token i post -->
            <input type="submit" value = "Wyświetl wydarzenie {{s}}" />
            <input id="ev_name" name="ev_name" type="hidden" value = "{{s}}" />
        </form>
        
    {% endfor %}
</div>
