
<!-- powiadomienia o usuniętych spotkaniach na które użytkownik był zaproszony -->

<h4>Usunięte spotkania, na które byłeś zaproszony: </h4>
<div  class="container">
    <ul>
    {% for id, s, begin, end, creator in new_deleted %}
        <li>
        <p> Spotkanie: {{ s }}, od: {{ begin }} do: {{ end }}, utworzone przez {{ creator }} </p>
        <form action = "{{ "/ok_deleted_att_event_info" }}" method="get" />  
            <!-- z querystring kodowanie i odkodowywanie to jakiś koszmar, to powinno być robione automatycznie... -->
            <!-- jakby były problemy ze spacjami, to csrf_token i post -->
            <input type="submit" value = "ok" />
            <input id="row_id" name="row_id" type="hidden" value = "{{id}}" />
        </form>
        </li>
    {% endfor %}
    </ul>
</div>
